@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  width: auto;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
a  {
  text-decoration: none;
  color: gray;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

.footer {
  display: flex;
  background-color: rgb(235, 234, 234);
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}
.left-links {
  display: flex;
  gap: 10px;
  padding-left: 0;
}
.right-links {
  display: flex;
  gap: 10px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}