body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  font-size: large;
  font-weight: bold;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  margin-right: 30px;
  flex-basis: content;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 15px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 250px;
  padding-bottom: 100px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1,1,250px;
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.cards {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: medium;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style: none;
}

li {
  padding-top: 15px;
}